# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\二次复习java\day18_综合案例(用户信息)\travel_again\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
